<#@ template language="C#" hostspecific="true" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Linq" #>

<#
    // Pfad zu deinem EF-Designer-Modell
    var modelFile = @"DomainModel.efmodel";
#>

<#@ include file="Templates\EFCore\Entities.ttinclude" #>
