# Standardmäßig ignorierte Dateien
/shelf/
/workspace.xml
# Von Rider ignorierte Dateien
/modules.xml
/.idea.Inventarverwaltung1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Ignorierter Standardordner mit Abfragedateien
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-basierte HTTP-Client-Anfragen
/httpRequests/
